body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #191970;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 50px 0;
}

.hero {
    background-color: #f2f2f2;
    text-align: center;
}

.about {
    background-color: #e6e6e6;
}

.services {
    background-color: #f9f9f9;
}

.service {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.contact {
    background-color: #eaeaea;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #191970;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #191970;
    color: #fff;
    text-align: center;
    padding: 1em 0;

}
