body {
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    -webkit-text-stroke: 1px green;
}

.texto-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
