body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ffb703;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 50px 0;
}

.hero {
    background-color: #f2f2f2;
    text-align: center;
}

.about {
    background-color: #e6e6e6;
}

.services {
    background-color: #f9f9f9;
}

.service {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

