body {
    background-color: #fefae0;
}

#blog {
    color: #212529;
    text-align: center;
    background-color: #a7c957;
}

#contacto {
    color: #212529; 
    text-align: center;
    background-color: #d62828;
}

#instagram {
    background-color: #fefae0;
    color: #8338ec;
    text-decoration: none;
}

#correo {
    background-color: #fefae0;
    color: #c1121f;
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#derechos {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
