body {
    background-color: #fefae0;
}

#blog {
    color: #264653;
    text-align: center;
    background-color: #a7c957;
}

#contacto {
    color: #264653; 
    text-align: center;
    background-color: #d62828;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#derechos {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
