body {
    background-color: antiquewhite;
}

#titulo {
    background-color: red;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#informacion, #informacion1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#boton, #boton1, #boton2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-align: center;
    background-color: red;
    margin: 0 auto;
    display: block;
}

#img {
    margin: 0 auto;
    display: block;
}

#boton1 {
    margin-top: 10px;
}
