/* Estilo base del contenedor del texto */
.texto-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Estilo para hacer visible el texto cuando está en el área visible de la ventana */
.texto-visible {
    opacity: 1;
    transform: translateY(0);
}

body {
    background-color: #faedcd;
    margin: 0;
    padding: 0;
}

#titulo, #titulo1, #titulo2 {
    background-color: #d62828 ;
    color: #001219;
    text-align: center;
    font-family: 'Trocchi';
}

p {
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ig, #mail {
    background-color: #ffbe0b;
    color: #8338ec;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    text-align: left;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
    text-align: left;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabla-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#copyright {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
